BODY
{
    MARGIN: 0PX;
    BACKGROUND-COLOR: #FFFFFF;
    SCROLLBAR-FACE-COLOR: #EBEBEB;
    SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-SHADOW-COLOR: #D1D1D1;
    SCROLLBAR-3DLIGHT-COLOR: #D1D1D1;
    SCROLLBAR-ARROW-COLOR: #3E3E3E;
    SCROLLBAR-TRACK-COLOR: #E3E3E3;
    SCROLLBAR-DARKSHADOW-COLOR: GRAY;
}
P
{
    FONT-WEIGHT: NORMAL;
    FONT-SIZE: 12PX;
    COLOR: #333333;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
A
{
    COLOR: RED;
}
A:HOVER
{
    TEXT-DECORATION: UNDERLINE;
}
.ALL_MENU_DESIGN
{
    BACKGROUND-IMAGE: URL(/PORTAL/IMAGES/ALL_FUNDOMENU.GIF);
    BACKGROUND-REPEAT: NO-REPEAT;
    HEIGHT: 18PX;
}
.ALL_MENU_DESIGN2
{
    BACKGROUND-IMAGE: URL(/PORTAL/IMAGES/ALL_FUNDOMENUSUB.GIF);
    BACKGROUND-REPEAT: NO-REPEAT;
    HEIGHT: 18PX;
}
.ALL_MENU
{
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 9PX;
    MARGIN-LEFT: 6PX;
    COLOR: #BBBBBB;
    FONT-FAMILY: VERDANA, ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
A.ALL_MENU:LINK
{
    TEXT-DECORATION: NONE;
}
A.ALL_MENU:HOVER
{
    COLOR: #EC1212;
    TEXT-DECORATION: NONE;
}
A.ALL_MENU:VISITED
{
    TEXT-DECORATION: NONE;
}
.ALL_SEARCHBOX
{
    BORDER-RIGHT: #4A4948 1PX SOLID;
    BORDER-TOP: #4A4948 1PX SOLID;
    FONT-WEIGHT: NORMAL;
    FONT-SIZE: 11PX;
    BORDER-LEFT: #4A4948 1PX SOLID;
    WIDTH: 76PX;
    COLOR: #6F6F6F;
    BORDER-BOTTOM: #4A4948 1PX SOLID;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    HEIGHT: 16PX;
    BACKGROUND-COLOR: #E6E7E6;
}
.BOX_DESIGN
{
    BORDER-RIGHT: #D4D4D4 1PX SOLID;
    BORDER-TOP: #D4D4D4 1PX SOLID;
    BORDER-LEFT: #D4D4D4 1PX SOLID;
    BORDER-BOTTOM: #D4D4D4 1PX SOLID;
    BACKGROUND-COLOR: #DDDDDD;
}
.T1_BIG
{
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 16PX;
    COLOR: #333333;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
.T1
{
    FONT-WEIGHT: NORMAL;
    FONT-SIZE: 11PX;
    COLOR: #333333;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
.T_RED
{
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 11PX;
    COLOR: #EC1212;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
.T2
{
    FONT-WEIGHT: NORMAL;
    FONT-SIZE: 11PX;
    COLOR: #817E7E;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
.T3
{
    FONT-WEIGHT: NORMAL;
    FONT-SIZE: 12PX;
    COLOR: #333333;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
.ALL_SIMPLEBOX
{
    BORDER-RIGHT: #A5A4A3 1PX SOLID;
    BORDER-TOP: #A5A4A3 1PX SOLID;
    FONT-WEIGHT: NORMAL;
    FONT-SIZE: 11PX;
    BORDER-LEFT: #A5A4A3 1PX SOLID;
    COLOR: #6F6F6F;
    BORDER-BOTTOM: #A5A4A3 1PX SOLID;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    HEIGHT: 16PX;
    BACKGROUND-COLOR: #E6E7E6;
}
.BOX2_DESIGN
{
    BORDER-RIGHT: #D4D4D4 1PX SOLID;
    BORDER-TOP: #D4D4D4 1PX SOLID;
    BORDER-LEFT: #D4D4D4 1PX SOLID;
    BORDER-BOTTOM: #D4D4D4 1PX SOLID;
    BACKGROUND-COLOR: #FFFFFF;
}
.T1_MIDDLE
{
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 14PX;
    COLOR: #333333;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
.T1_BIGRED
{
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 16PX;
    COLOR: #EC1212;
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    TEXT-DECORATION: NONE;
}
.ALL_MENU_DESIGN3
{
    BACKGROUND-IMAGE: URL(/PORTAL/IMAGES/ALL_FUNDOMENUSUB2.GIF);
    BACKGROUND-REPEAT: NO-REPEAT;
    HEIGHT: 18PX;
}
.ALL_MENU_DESIGN4
{
    BACKGROUND-IMAGE: URL(/PORTAL/IMAGES/ALL_FUNDOMENUSUB3.GIF);
    BACKGROUND-REPEAT: NO-REPEAT;
    HEIGHT: 18PX;
}

.DESTAQUE
{
    FONT-SIZE: 13PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
}
.TITULO_DESTAQUE
{
    FONT-WEIGHT: BOLDER;
    FONT-SIZE: 12PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
}
.TEXTO_SECAO
{
    FONT-SIZE: 12PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
}
.TITULO_SECAO
{
    FONT-WEIGHT: BOLDER;
    FONT-SIZE: 15PX;
    COLOR: #E30000;
    FONT-FAMILY: VERDANA;
}
.TITULO_SECAO A:VISITED
{
    COLOR: RED;
    TEXT-DECORATION: UNDERLINE;
}
.TITULO_SECAO A:LINK
{
    COLOR: RED;
    TEXT-DECORATION: UNDERLINE;
}
.TITULO_SECAO A:ACTIVE
{
    COLOR: RED;
    TEXT-DECORATION: UNDERLINE;
}
.TITULO_SECAO A:HOVER
{
    COLOR: RED;
    TEXT-DECORATION: UNDERLINE;
}
.SUBTITULO_SECAO
{
    FONT-WEIGHT: BOLDER;
    FONT-SIZE: 13PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
}
.SUBTITULO_SECAO A:VISITED
{
    COLOR: BLACK;
    TEXT-DECORATION: NONE;
}
.MENU_ADM
{
    FONT-SIZE: 13PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
}
.MENU_ADM A:VISITED
{
    COLOR: BLACK;
    TEXT-DECORATION: NONE;
}

.MENU_ADM A:LINK
{
    COLOR: BLACK;
    TEXT-DECORATION: NONE;
}
.MENU_ADM A:ACTIVE
{
    COLOR: BLACK;
    TEXT-DECORATION: NONE;
}
.MENU_ADM A:HOVER
{
    COLOR: #E30000;
    TEXT-DECORATION: UNDERLINE;
}
.SUBTITULO_SECAO A:HOVER
{
    COLOR: #E30000;
    TEXT-DECORATION: UNDERLINE;
}
.SUBTITULO_SECAO A:ACTIVE
{
    COLOR: BLACK;
    TEXT-DECORATION: NONE;
}
.SUBTITULO_SECAO A:LINK
{
    COLOR: BLACK;
    TEXT-DECORATION: NONE;
}
.TEXTO_MENSAGEM
{
    FONT-WEIGHT: BOLDER;
    FONT-SIZE: 13PX;
    COLOR: RED;
    FONT-FAMILY: VERDANA;
}
.COR_TR
{
    BACKGROUND-COLOR: #CACACA;
}
.SUBTITULO_CAIXINHA
{
    FONT-SIZE: 13PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
}
.TITULO_CAIXINHA
{
    FONT-WEIGHT: BOLDER;
    FONT-SIZE: 15PX;
    COLOR: #E30000;
    FONT-FAMILY: VERDANA;
}
.TITULO_CAIXINHA A:ACTIVE
{
    COLOR: #E30000;
    TEXT-DECORATION: NONE;
}
.TITULO_CAIXINHA A:HOVER
{
    COLOR: #E30000;
    TEXT-DECORATION: UNDERLINE;
}
.TITULO_CAIXINHA A:LINK
{
    COLOR: #E30000;
    TEXT-DECORATION: NONE;
}
.TITULO_CAIXINHA A:VISITED
{
    COLOR: #E30000;
    TEXT-DECORATION: NONE;
}
.FORMULARIO
{
    BORDER-RIGHT: SILVER 1PX OUTSET;
    BORDER-TOP: SILVER 1PX OUTSET;
    FONT-SIZE: 12PX;
    BORDER-LEFT: SILVER 1PX OUTSET;
    COLOR: BLACK;
    BORDER-BOTTOM: SILVER 1PX OUTSET;
    FONT-FAMILY: ARIAL, VERDANA;
    BACKGROUND-COLOR: WHITE;
}
.DIV_IMAGENS
{
    BORDER-RIGHT: BLACK 1PX SOLID;
    BORDER-TOP: BLACK 1PX SOLID;
    FONT-SIZE: 13PX;
    FLOAT: NONE;
    VISIBILITY: HIDDEN;
    OVERFLOW: AUTO;
    BORDER-LEFT: BLACK 1PX SOLID;
    WIDTH: 98%;
    COLOR: BLACK;
    BORDER-BOTTOM: BLACK 1PX SOLID;
    FONT-FAMILY: VERDANA;
    POSITION: ABSOLUTE;
    TOP: 15PX;
    HEIGHT: 243PX;
    TEXT-ALIGN: CENTER;
}
.TEXTO_CAIXINHA_IMAGEM
{
    FONT-SIZE: 13PX;
    COLOR: WHITE;
    FONT-FAMILY: VERDANA;
}
.SETA_DESTAQUES
{
    LEFT: -3PX;
    FLOAT: NONE;
    POSITION: RELATIVE;
    TOP: 2PX;
}
.LINK_NEGRITO
{
    FONT-WEIGHT: BOLDER;
    FONT-SIZE: 12PX;
    COLOR: #0028BB;
    FONT-FAMILY: VERDANA;
}
.LINK_NEGRITO A:LINK
{
    COLOR: #0028BB;
}
.LINK_NEGRITO A:HOVER
{
    COLOR: #0028BB;
}
.LINK_NEGRITO A:ACTIVE
{
    COLOR: #0028BB;
}
.LINK_NEGRITO A:VISITED
{
    COLOR: #0028BB;
}
.TR_TEXTO_SECAO
{
    PADDING-LEFT: 20PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
    TEXT-ALIGN: JUSTIFY;
}
.CAIXINHA_LOGIN
{
    BORDER-RIGHT: BLACK 1PX SOLID;
    BORDER-TOP: BLACK 1PX SOLID;
    FONT-SIZE: 10PX;
    FLOAT: NONE;
    BORDER-LEFT: BLACK 1PX SOLID;
    WIDTH: 60PX;
    BORDER-BOTTOM: BLACK 1PX SOLID;
    TOP: 0PX;
    HEIGHT: 16PX;
}
.TEXTO_LOGADO
{
    FONT-WEIGHT: BOLDER;
    FONT-SIZE: 13PX;
    LEFT: 5PX;
    FLOAT: NONE;
    COLOR: #0028BB;
    FONT-FAMILY: VERDANA;
    POSITION: RELATIVE;
    TOP: 1PX;
    TEXT-DECORATION: UNDERLINE;
}
.BOTAO_SAIR
{
    LEFT: 0PX;
    FLOAT: NONE;
    POSITION: RELATIVE;
    TOP: 1PX;
}
.SETA
{
    FLOAT: NONE;
    POSITION: RELATIVE;
    TOP: 2PX;
}
.TEXTO_OBS
{
    FONT-SIZE: 10PX;
    COLOR: BLACK;
    FONT-FAMILY: VERDANA;
}
.CAMP_OBRIG{
	COLOR: #FF0000; 
	FONT-SIZE: 9PX; 
	FONT-FAMILY:VERDANA;
}

#DESCRICAO_SOLICITACAO
{
	BACKGROUND-COLOR:'#F4F4F4'; 
	COLOR:#444444;
}
#DESCRICAO_SOLICITACAO LI
{
	LINE-HEIGHT:18PX;
	TEXT-ALIGN:LEFT;
	MARGIN-RIGHT:20PX;
}
.BOT
{
	BACKGROUND:TRANSPARENT;
	BACKGROUND-POSITION:CENTER CENTER;
	BORDER:0PX;
	FONT: 9PX VERDANA; 
	HEIGHT:21PX; 
	FONT-WEIGHT:BOLDER;
	TEXT-TRANSFORM:UPPERCASE;
	COLOR:#444444;
	BACKGROUND-REPEAT:NO-REPEAT; 
	PADDING:4PX 4PX;
}
.S7{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT1.GIF');
	WIDTH:272PX;
}
.S6{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT2.GIF');
	WIDTH:220PX;
}
.S5
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT3.GIF');
	WIDTH:180PX;
}
.S4
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT4.GIF');
	WIDTH:140PX;
}
.S3
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT5.GIF');
	WIDTH:100PX;
}
.S2
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT6.GIF');
	WIDTH:60PX;
}
.S1
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT7.GIF');
	WIDTH:37PX;
}
.S7_RED
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT1_RED.GIF');
	WIDTH:272PX;
}
.S6_RED
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT2_RED.GIF');
	WIDTH:220PX;
}
.S5_RED
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT3_RED.GIF');
	WIDTH:180PX;
}
.S4_RED
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT4_RED.GIF');
	WIDTH:140PX;
}
.S3_RED
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT5_RED.GIF');
	WIDTH:100PX;
}
.S2_RED
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT6_RED.GIF');
	WIDTH:60PX;
}
.S1_RED
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT7_RED.GIF');
	WIDTH:37PX;
}
.S7_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT1_BLUE.GIF');
	WIDTH:272PX;
}
.S6_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT2_BLUE.GIF');
	WIDTH:220PX;
}
.S5_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT3_BLUE.GIF');
	WIDTH:180PX;
}
.S4_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT4_BLUE.GIF');
	WIDTH:140PX;
}
.S3_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT5_BLUE.GIF');
	WIDTH:100PX;
}
.S2_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT6_BLUE.GIF');
	WIDTH:60PX;
}
.S1_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT7_BLUE.GIF');
	WIDTH:37PX;
}
.S8_BLUE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT8_BLUE.GIF');
	WIDTH:338PX;
}
.S7_YELLOW
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT1_YELLOW.GIF');
	WIDTH:272PX;
}
.S6_YELLOW
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT2_YELLOW.GIF');
	WIDTH:220PX;
}
.S5_YELLOW
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT3_YELLOW.GIF');
	WIDTH:180PX;
}
.S4_YELLOW
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT4_YELLOW.GIF');
	WIDTH:140PX;
}
.S3_YELLOW
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT5_YELLOW.GIF');
	WIDTH:100PX;
}
.S2_YELLOW
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT6_YELLOW.GIF');
	WIDTH:60PX;
}
.S1_YELLOW
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT7_YELLOW.GIF');
	WIDTH:37PX;
}
.S7_WHITE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT1_WHITE.GIF');
	WIDTH:272PX;
}
.S6_WHITE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT2_WHITE.GIF');
	WIDTH:220PX;
}
.S5_WHITE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT3_WHITE.GIF');
	WIDTH:180PX;
}
.S4_WHITE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT4_WHITE.GIF');
	WIDTH:140PX;
}
.S3_WHITE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT5_WHITE.GIF');
	WIDTH:100PX;
}
.S2_WHITE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT6_WHITE.GIF');
	WIDTH:60PX;
}
.S1_WHITE
{
	BACKGROUND-IMAGE:URL('IMAGENS/FUNDOBOT7_WHITE.GIF');
	WIDTH:37PX;
}

.tabspacer {
    WIDTH: 4px; 
    BORDER-BOTTOM: #cacaca 1px solid
}
.selectedtab {
    BORDER-RIGHT: #cacaca 1px solid; 
    BORDER-TOP: #cacaca 1px solid; 
    FONT-WEIGHT: bold; 
    BORDER-LEFT: #cacaca 1px solid; 
    BORDER-BOTTOM: 0px
}
.tablink {
    PADDING-RIGHT: 2px; 
    PADDING-LEFT: 7px; 
    FONT-SIZE: 83%; 
    PADDING-BOTTOM: 2px; 
    PADDING-TOP: 2px; 
    BORDER-BOTTOM: #cacaca 1px solid
}
.tab {
    PADDING-RIGHT: 15px; 
    PADDING-LEFT: 15px; 
    FONT-SIZE: 82%; 
    PADDING-BOTTOM: 0px; 
    CURSOR: hand; 
    COLOR: #676767; 
    PADDING-TOP: 0px; 
    TEXT-ALIGN: center; 
    TEXT-DECORATION: none; 
    empty-cells: show;
	cursor:pointer;
}
.unselectedtab {
    BORDER-RIGHT: #cacaca 1px solid; 
    BORDER-TOP: #cacaca 1px solid; 
    BORDER-LEFT: #cacaca 1px solid; 
    COLOR: #000000; 
    BORDER-BOTTOM: #cacaca 1px solid; 
    BACKGROUND-COLOR: #ededed
}
.slk{
	cursor:pointer;
}
.div_fixa {
    font-weight:bold;
    padding-top:4px;
    height:23px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    margin-left: -125px;
    position: fixed;
    *position: absolute;
    background-color: #FAD163;
    top: expression( ( 0+( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}