#menu{
	position:relative;
	z-index:10000;
	width:100%;
	height:18px;
	padding:0px;
}
#menu * {
	vertical-align:middle;
}
#menuItem{
	float:left;
	cursor:default;
}

#subMenu{
	background-color:#f9f8f7;
	position:absolute;
	display:none;
	
	border:1px;
	border-color:#666666;
	border-style:solid;
	
	padding:1px;
}
#subMenuItem{
	position:relative;
	height:20px;
	width:100%;
}			
.subMenuItem{
	position:relative;

}

#modulos{
	background-color:#f9f8f7;
	display:none;		
	position:absolute;
	
	left:99%;
	top:0px;
	
	border:1px;
	border-color:#666666;
	border-style:solid;
	
	padding:1px;
	
}
#moduloItem{
	height:20px;
	width:100%;
}
.moduloItem{
}			

#spanTextoMenu{
	font-family:Arial;
	font-size:9pt;
	color:#000000;
}
.menuAtivado{
	background-color:#b6bdd2;

}
#destaqueSubMenuItem{
	background-color:#666666;
	position:absolute;
	width:2px;
	height:1px;
}